/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */



/* Default link styles for larger screens (desktop) */
.nav-links a {
  color: black; /* Set the color you want for regular links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add a smooth transition for color changes */
}

/* Change link color on hover */
.nav-links a:hover {
  color: grey; /* Set the color you want on hover */
}

/* Media query for smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  .nav-links a {
      color: black; /* Adjust link color for smaller screens if needed */
  }

  /* Change link color on hover for smaller screens */
  .nav-links a:hover {
      color: grey; /* Set the color you want on hover for smaller screens */
  }
}
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

.centered-image {
  top: 65%;
 /*  width: 200px; */

}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  margin-top: 50px; /* Adjust the top margin */
}


.title1 {
  /* says charlie kanner */
  font-size: 3.5em;
}

.order-1 {
  order: 1
}
.order-2 {
  order: 2
}
.order-3 {
  order: 3
}

.section__text {
  /* align-self: center;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 200px; */
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: left;
  font-size: 1rem; /* says hi i'm */
  

}

/* says student  */
.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: rgb(113, 114, 114);
}
.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}


.section_text_p3{
  font-size: 4rem;
}
.section__text__p2 {
  text-align: left;
}

.about-me-paragraph{
font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  color: rgb(113, 114, 114);
/**says about me */
}

.title2 {
  align-self: center;
  text-align: center;
}
.section__text__p3 {
  align-self: center;
  text-align: center;
}


/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(230, 29, 29);
  color: rgb(255, 15, 15);
}

.btn-color-1:hover {
  background: rgb(182, 21, 21);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(141, 28, 28) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


.btn-primary {
  font-size: 16px;
  padding: 10px 20px;
  width: 170px; 
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__text {
  align-self: center;
  text-align: center;
  position: absolute;
  top: 300px; /* Adjust the vertical position */
  left: 200px; /* Adjust the horizontal position */
}

.title {
  /* Add any additional styling for the title here */
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  /* Add any additional styling for the paragraph here */
}


.teaching-philosophy-container {
  text-align: center;
  margin: 20px;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
}

.blogparagraph{
  margin:10rem;
}

#blogs {
  position: relative;
}

.essay-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40auto;
  padding: 20px; 
  max-width: 1200px;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: calc(33% - 20px);
  margin: 10px;
  padding: 2px;
  box-sizing: border-box; 
  max-width: 20rem;
  background: #fbfbfb;
}

.card img {
  width: 100%; /* Make image width responsive */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 3px;
  font-weight: 800;
}

.card-content {
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
  margin-left: 3px;
}


/* CSS styles for diagonal image */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
}

.diagonal-image-container {
  position: relative;
  overflow: hidden;
  width: 33%; /* Adjust as needed */
  height: 100%;
  float: right; /* Align to the right */
  transform: skewY(-10deg);
  transform-origin: 100% 0;
}

#homeImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  transform: skewY(10deg); /* Counteract skew to make the image appear normal */
}

.homename-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 67%;
  padding: 20px;
  /* Move text down */
  margin-top: 50px; /* Adjust the value as needed */
  /* Move text to the right */
  margin-left: 20px; /* Adjust the value as needed */
}

.hi-text {
  font-size: 18px; /* Adjust the size as needed */
}

.charlie-text {
  font-size: 28px; /* Adjust the size as needed */
}

.teacher-text {
  font-size: 20px; /* Adjust the size as needed */
  font-weight: bold;
  color: #3366cc; /* Adjust the color as needed */
}

.hi-text {
  font-size: 14px; /* Adjust the size as needed */
}

.charlie-text {
  font-size: 24px; /* Adjust the size as needed */
}

.teacher-text {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold;
  color: #3366cc; /* Adjust the color as needed */
}

#tptext {
  padding: 4em 6rem 4rem 4em;
  text-align: center;
}

#tptitle{
  padding: 3em;
  text-align: center;
}

#title-container {
  background-image: url('undraw_education_f8ru.png');
  background-repeat: no-repeat;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}


.flex-item{
  flex: 1;
  border: 1px solid #ddd; /* Subtle border for visual separation */
  padding: 10px; /* Add padding for space around the content */
  margin: 10px; /* Add margin for space between flex items */
  

}

/*change size of assessments image here*/
.flex-item img {
 max-width: 99%;
 height: auto;
}

i.fa-solid, .fas {
  font-size: 45px;
  position: relative;
  right: 35;
}

#arrow-div {
  position: relative;
  left: 50%;
}


/* image grid */
* {
  box-sizing: border-box;
  margin: 0;
}

/* body {
  background-color: #282c34;
  font-family: sans-serif;
  font-size: 3rem;
} */

.grid-item2 {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item2:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}
.d-outline {
  outline: solid 1px orange;
}

/* text */
.text-center {
  text-align: center;
}

/* displays */
.flex {
  display: flex;
}

/* positions */
.position-initial {
  position:initial;
}

.home-image-container {
  max-width: 400px;
}

.normal-weight {
  font-weight: lighter;
}


.photo-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between photos */
  margin-top: 20px; /* Adjust the margin from the text */
}

.photo-container img {
    max-width: 100%; /* Set maximum width to 100% for responsiveness */
    height: auto;
    width: 400px; /* Set a specific width or adjust as needed */
    border-radius: 15px; /* Optional: add rounded corners to the images */
}


.photo-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between photos */
  margin-top: 20px; /* Adjust the margin from the text */
}

.photo-container img {
    max-width: 100%; /* Set maximum width to 100% for responsiveness */
    height: auto;
    width: 350px; /* Set a specific width or adjust as needed */
    border-radius: 15px; /* Optional: add rounded corners to the images */
}

#tptitle {
  text-align: center;
}

#tptext {
    margin: 0 40px; /* Adjust the margin on the sides */
    margin-bottom: 20px;
}
#tptitle {
  text-align: center; /* Center the text */
}

#tptext {
  margin-bottom: 20px; /* Add margin below the text */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff; /* Change the background color as per your preference */
}

.horizontal-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the spacing between images */
}

.horizontal-gallery li {
  flex: 0 0 auto;
}

.horizontal-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.horizontal-gallery figure {
  position: relative;
  overflow: hidden;
}

.horizontal-gallery figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
  width: 100%;
  padding: 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: gray;
}

.horizontal-gallery figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

/* .horizontal-gallery figcaption:hover {
  /* text-decoration: line-through; */


#tptitle2{
  padding: 3em;
  text-align: center;
}

